<div class="container mt-5">
    <div class="text-left mb-4">
        <h2>MENU EXPEDIENTE</h2>
    </div>
    <div class="row">
        <!-- Opción para crear expediente -->
        <div class="col-md-12 mb-3">
            <!--<button *ngIf="canCreate" (click)="createExpediente()" class="btn btn-primary w-50 text-start" [routerLink]="['/crear-expediente']">CREAR EXPEDIENTE</button>-->
            <button *ngIf="canCreate" (click)="createExpediente()" class="btn btn-primary w-50 text-start">CREAR EXPEDIENTE</button>
        </div>

        <!-- Opción para consultar expediente -->
        <div class="col-md-12 mb-3">
            <!--<button class="btn btn-info w-50 text-start" [routerLink]="['/consulta-expediente']">CONSULTAR EXPEDIENTE</button>-->
            <button *ngIf="canConsult" class="btn btn-info w-50 text-start" (click)="consultExpediente()">CONSULTAR EXPEDIENTE</button>
        </div>
        
        <!-- Opción para modificar expediente -->
        <div class="col-md-12 mb-3">
            <!--<button class="btn btn-secondary w-50 text-start" [routerLink]="['/modificar-expediente']">MODIFICAR EXPEDIENTE</button>-->
            <button *ngIf="canEdit" class="btn btn-secondary w-50 text-start" (click)="editExpediente()">MODIFICAR EXPEDIENTE</button>
        </div>
        
        <!-- Opción para regresar al menú home -->
        <div class="col-md-12 mb-3">
            <button class="btn btn-light w-50 text-start" [routerLink]="['/home']">REGRESAR AL MENÚ PRINCIPAL</button>
        </div>
    </div>
</div>

