<div class="container mt-5 mb-5">

    <div class="mb-3 mt-3 text-center">
        <h2>Ingreso de Expediente de Mascotas</h2>
    </div>

    <form [formGroup]="formularioRegistro" (ngSubmit)="enviar()">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label" for="name">Nombre de la Mascota</label>
                <input [ngClass]="{'is-invalid': hasErrors('name', 'required')}" type="text" class="form-control" id="name"
                    formControlName="name">
                <div class="text-danger" *ngIf="hasErrors('name', 'required')"> Campo obligatorio </div>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label" for="owner">Nombre del Propietario</label>
                <input [ngClass]="{'is-invalid': hasErrors('owner', 'required')}" type="text" class="form-control"
                    id="owner" formControlName="owner">
                <div class="text-danger" *ngIf="hasErrors('owner', 'required')"> Campo obligatorio </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label" for="tipoMascota">Tipo de Mascota</label>
                <div>
                    <select id="tipoMascota" formControlName="animal" class="form-select">
                        <option *ngFor="let especie of tipoAnimal" [value]="especie"> {{especie}} </option>
                    </select>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label" for="gender">Género</label>
                <input [ngClass]="{'is-invalid': hasErrors('gender', 'required')}" type="text" class="form-control"
                    id="gender" formControlName="gender">
                <div class="text-danger" *ngIf="hasErrors('gender', 'required')"> Campo obligatorio </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label" for="razaMascota">Raza</label>
                <div>
                    <select id="razaMascota" formControlName="raza" class="form-select">
                        <option *ngFor="let razas of razaAnimal" [value]="razas"> {{razas}} </option>
                    </select>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label" for="color">Color</label>
                <input [ngClass]="{'is-invalid': hasErrors('color', 'required')}" type="text" class="form-control"
                    id="color" formControlName="color">
                <div class="text-danger" *ngIf="hasErrors('color', 'required')"> Campo obligatorio </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label" for="weight">Peso</label>
                <input [ngClass]="{'is-invalid': hasErrors('weight', 'required')}" type="text" class="form-control"
                    id="weight" formControlName="weight">
                <div class="text-danger" *ngIf="hasErrors('weight', 'required')"> Campo obligatorio </div>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label" for="temp">Temperatura</label>
                <input [ngClass]="{'is-invalid': hasErrors('temp', 'required')}" type="text" class="form-control" id="temp"
                    formControlName="temp">
                <div class="text-danger" *ngIf="hasErrors('temp', 'required')"> Campo obligatorio </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label" for="frec">Frecuencia Cardiaca</label>
                <input [ngClass]="{'is-invalid': hasErrors('frec', 'required')}" type="text" class="form-control" id="frec"
                    formControlName="frec">
                <div class="text-danger" *ngIf="hasErrors('frec', 'required')"> Campo obligatorio </div>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label" for="address">Dirección</label>
                <input [ngClass]="{'is-invalid': hasErrors('address', 'required')}" type="text" class="form-control"
                    id="address" formControlName="address">
                <div class="text-danger" *ngIf="hasErrors('address', 'required')"> Campo obligatorio </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label" for="phone">Teléfono</label>
                <input [ngClass]="{'is-invalid': hasErrors('phone', 'required')}" type="text" class="form-control"
                    id="phone" formControlName="phone">
                <div class="text-danger" *ngIf="hasErrors('phone', 'required')"> Campo obligatorio </div>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label" for="med">Médico Referido (no obligatorio)</label>
                <input type="text" class="form-control" id="med" formControlName="med">
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <button type="button" class="btn btn-secondary" (click)="regresar()">Regresar</button>
            <div>
                <button type="button" class="btn btn-danger me-2" (click)="limpiar()">Limpiar</button>
                <button type="button" class="btn btn-success" (click)="guardarExpediente()">Guardar Expediente</button>
            </div>
        </div>
    </form>
</div>
